@font-face {
    font-family: "Helevtica";
    src: url("../../fonts/helvetica/helvetica-light-587ebe5a59211.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Helevtica";
    src: url("../../fonts/helvetica/Helvetica.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Helevtica";
    src: url("../../fonts/helvetica/Helvetica-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: Helvetica !important;
    font-weight: normal;
    font-style: normal;
    background: linear-gradient(89deg,
            rgba(232, 242, 250, 0.76) 32.03%,
            rgba(255, 218, 218, 0.15) 97.78%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Helvetica !important;
}

p,
h1 {
    color: #152742;
    font-family: Helvetica;
}

p {
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
}

.btn {
    border-radius: 0;
}

.btn-dark {
    background-color: #152742 !important;
}

.btn-light {
    margin-left: 15px;
}

.btn-primary {
    background-color: #152742 !important;
}

img {
    width: 100%;
    height: 100%;
}

.nk-header {
    border: 0;
    background: #fff !important;
}

.active {
    border: 0;
    background: #fff !important;
    opacity: 1;
}

.nk-content-body {
    padding: 0 !important;
    margin-top: 15px;
}

.nk-content {
    padding: 0 !important;
}

@media (min-width: 576px) {
    .nk-content {
        padding: 0 !important;
    }
}

.web-header__main .nk-header-wrap {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.web-header__main .nk-header-wrap .nk-header-brand .logo-img {
    max-height: 49px;
}

@media (min-width: 992px) {
    .web-header__main .nk-header-wrap .nk-header-menu .nk-menu-main>li.nk-menu-item>.nk-menu-link {
        padding: 1.25rem 0;
        font-size: 16px;
        color: #152742;
        line-height: 18px;
    }
}

.web-header__main .nk-header-wrap .nk-header-menu .nk-menu {
    gap: 44px;
}

.web-header__main .nk-header-wrap .nk-menu {
    display: flex;
    align-items: center;
}

.web-header__main .nk-header-wrap .nk-header-tools {
    margin-left: 0;
    /* opacity: 0; */
}

.web-header__main .nk-header-wrap .nk-header-tools .shopping-cart-icon {
    margin-right: 40px;
}

@media (min-width: 992px) {
    .web-content .nk-aside {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .web-content .nk-menu-main.nk-menu {
        margin-top: 40px;
    }

    .web-content .nk-menu-main.nk-menu svg {
        margin: 10px;
    }

    .web-content .nk-menu-main.nk-menu p {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #152742;
    }
}

.web-content__hero {
    position: relative;
    display: flex;
    align-items: center;
}

@media (min-width: 993px) {
    .web-content__hero {
        height: calc(100vh - 100px);
    }
}

@media (max-width: 992px) {
    .web-content__hero {
        flex-direction: column-reverse;
        margin: 48px 0;
    }
}

@media (min-width: 993px) {
    .web-content__hero .img-wrapper {
        position: absolute;
        inset: 0;
        z-index: -1;
    }
}

@media (max-width: 768px) {
    .web-content__hero .img-wrapper {
        width: 100%;
        height: 200px;
    }
}

.web-content__hero .img-wrapper img {
    -o-object-fit: cover;
    object-fit: cover;
}

.web-content__hero .content p {
    position: relative;
    margin-left: 100px;
}

.web-content__hero .content p::before {
    position: absolute;
    content: "";
    width: 88px;
    height: 2px;
    background-color: #152742;
    left: -95px;
    bottom: 10px;
}

@media (min-width: 991px) {
    .web-content__hero .content h1 {
        font-size: 48px;
        line-height: 60px;
        max-width: 433px;
    }
}

@media (max-width: 990px) {
    .web-content__hero .content h1 {
        margin: 10px 0;
        font-size: 36px;
        width: 100%;
    }
}

@media (min-width: 993px) {
    .web-content__hero .content .btn {
        margin-top: 66px;
    }
}

@media (max-width: 992px) {
    .web-content__hero .content .btn {
        margin: 5px 0 20px 0;
    }
}

.popular-products {
    margin: 80px 40px;
}

.popular-products h1 {
    text-align: center;
    font-size: 36px;
}

@media (max-width: 768px) {
    .popular-products h1 {
        font-size: 28px;
    }
}

.popular-products .custom-width {
    max-width: 1560px;
    margin: 0 auto;
}

.popular-products__cards {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .popular-products__cards {
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .popular-products__cards {
        flex-direction: column;
        align-items: center;
    }
}

.popular-products__cards .products-card {
    max-width: 460px;
    margin-top: 60px;
    background-color: #fff;
}

@media (max-width: 768px) {
    .popular-products__cards .products-card {
        margin-top: 40px;
    }
}

.popular-products__cards .products-card img {
    height: 340px;
}

.popular-products__cards .products-card .products-detail {
    padding: 20px 30px;
}

.popular-products__cards .products-card .products-detail p {
    font-size: 26.0458px;
    line-height: 30px;
}

@media (max-width: 768px) {
    .popular-products__cards .products-card .products-detail p {
        font-size: 18px;
        line-height: 20px;
    }
}

.popular-products__cards .products-card .products-detail span {
    font-size: 14px;
    line-height: 24px;
}

.popular-products__cards .products-card .products-detail .buttons {
    margin-top: 30px;
}

.popular-products__cards .products-card .products-detail .buttons a:first-child {
    margin-right: 10px;
}

_ .popular-products__cards .products-card .products-detail .buttons a:last-child {
    margin-left: 10px;
}

.icons__wrapper {
    margin-top: 130px;
    display: grid;
    grid-template-columns: repeat(4, 173px);
    justify-content: space-between;
}

@media (max-width: 992px) {
    .icons__wrapper {
        grid-template-columns: repeat(2, 173px);
        row-gap: 40px;
        justify-content: space-evenly;
    }
}

@media (max-width: 768px) {
    .icons__wrapper {
        margin-top: 40px;
    }
}

@media (max-width: 500px) {
    .icons__wrapper {
        grid-template-columns: 173px;
        row-gap: 40px;
        justify-content: center;
    }
}

.icons__wrapper .icon {
    width: 140px;
    height: 140px;
}

.icons__wrapper .icon svg {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.icons__wrapper .icon p {
    text-align: center;
    font-size: 18px;
    line-height: 28px;
}

@media (max-width: 500px) {
    .icons__wrapper .icon p {
        font-size: 16px;
        line-height: 18px;
    }
}

.about-us__wrapper .about-us {
    margin-top: 200px;
    position: relative;
}

@media (max-width: 768px) {
    .about-us__wrapper .about-us {
        margin-top: 60px;
    }
}

.about-us__wrapper .about-us h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 1;
    line-height: 74px;
    letter-spacing: 1px;
}

@media (max-width: 992px) {
    .about-us__wrapper .about-us h1 {
        position: static;
        color: #152742;
        transform: translate(0);
    }
}

@media (max-width: 768px) {
    .about-us__wrapper .about-us h1 {
        font-size: 32px;
        text-align: center;
    }
}

.about-us__wrapper .about-us p:not(:last-child) {
    margin-top: 40px;
}

.about-us__wrapper .about-us__images {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1280px) {
    .about-us__wrapper .about-us__images {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .about-us__wrapper .about-us__images {
        margin-top: 50px;
    }
}

.about-us__wrapper .about-us__images img {
    width: 580px;
    height: 446px;
}

@media (max-width: 1280px) {
    .about-us__wrapper .about-us__images img {
        width: 480px;
        height: 346px;
    }
}

.testimonials {
    margin-top: 130px;
}

@media (max-width: 768px) {
    .testimonials {
        margin-top: 50px;
    }
}

.testimonials h1 {
    text-align: center;
    font-size: 36px;
}

@media (max-width: 768px) {
    .testimonials h1 {
        font-size: 28px;
    }
}

.testimonials .testimonials__content {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .testimonials .testimonials__content {
        margin-top: 20px;
    }
}

.testimonials .testimonials__content img {
    width: 620px;
    height: 840px;
    border-radius: 60px;
    overflow: hidden;
}

@media (max-width: 992px) {
    .testimonials .testimonials__content img {
        display: none;
    }
}

.testimonials .testimonials__content .testimonial-box {
    width: 520px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.testimonials .testimonials__content .testimonial-box h6 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
}

@media (max-width: 768px) {
    .testimonials .testimonials__content .testimonial-box h6 {
        font-size: 28px;
        line-height: 30px;
    }
}

.testimonials .testimonials__content .testimonial-box span {
    color: #bf2a23;
}

.testimonials .testimonials__content .testimonial-box p {
    font-size: 16px;
    line-height: 26px;
}

.testimonials .testimonials__content .testimonial-box .testimonials-cards {
    border: 1px dashed #7b8698;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 30px;
    margin-bottom: 48px;
    position: relative;
}

@media (max-width: 768px) {
    .testimonials .testimonials__content .testimonial-box .testimonials-cards {
        padding: 20px;
        margin-bottom: 20px;
    }
}

.testimonials .testimonials__content .testimonial-box .testimonials-cards::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 80px;
    background-color: #bf2a23;
    border-radius: 25px;
    left: -4px;
}

.testimonials .testimonials__content .testimonial-box .testimonials-cards p {
    font-size: 18px;
    line-height: 26px;
}

.testimonials .testimonials__content .testimonial-box .testimonials-cards .card-avatar {
    display: flex;
    align-items: center;
}

.testimonials .testimonials__content .testimonial-box .testimonials-cards .card-avatar img {
    width: 41px;
    height: 41px;
    margin-right: 10px;
}

.testimonials .testimonials__content .testimonial-box .testimonials-cards .card-avatar p {
    margin-bottom: 0;
}

.testimonials .testimonials__content .testimonial-box .testimonials-cards .card-avatar .avatar-details {
    flex: 1;
}

.testimonials .testimonials__content .testimonial-box .testimonials-cards .card-avatar .avatar-details span {
    color: #7b8698;
    font-size: 14px;
    line-height: 14px;
}

.testimonials .testimonials__content .testimonial-box .testimonials-cards .card-avatar .star-icons {
    align-items: center;
    display: flex;
}

.testimonials .testimonials__content .testimonial-box .testimonials-cards .card-avatar .star-icons .ni-star-fill {
    color: #ffc61d;
}

.instagram-feed {
    margin-top: 120px;
}

@media (max-width: 768px) {
    .instagram-feed {
        margin-top: 50px;
    }
}

.instagram-feed .instagram-top {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .instagram-feed .instagram-top {
        flex-direction: column;
        gap: 30px;
    }
}

.instagram-feed .instagram-top .instagram-content h6 {
    font-weight: normal;
    font-size: 32px;
    line-height: 54px;
}

@media (max-width: 768px) {
    .instagram-feed .instagram-top .instagram-content h6 {
        font-size: 28px;
        line-height: 30px;
    }
}

.instagram-feed .instagram-top .instagram-content h6 span {
    color: #bf2a23;
}

.instagram-feed .instagram-top .instagram-content p {
    max-width: 520px;
}

.instagram-feed .instagram-top .instagram-link {
    display: flex;
    align-items: center;
}

.instagram-feed .instagram-top .instagram-link a {
    color: #152742;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.instagram-feed .sliders-wrapper {
    margin-top: 70px;
}

.instagram-feed .sliders-wrapper .item {
    margin: 0 30px;
}

@media (max-width: 768px) {
    .instagram-feed .sliders-wrapper .item {
        margin: 0 15px;
    }
}

.footer {
    margin-top: 100px;
    background-image: url("public/images/home/footer/foot.jpg");
}

.footer .footer__wrapper .footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr 700px;
    padding: 60px 0;
    align-items: center;
}

@media (max-width: 992px) {
    .footer .footer__wrapper .footer-links {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        row-gap: 30px;
    }
}

@media (max-width: 552px) {
    .footer .footer__wrapper .footer-links {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        row-gap: 30px;
    }
}

.footer .footer__wrapper .footer-links li {
    margin: 12px 0;
}

.footer .footer__wrapper .footer-links li a {
    color: #fff;
    font-size: 16px;
    line-height: 23px;
}

@media (max-width: 768px) {
    .footer .footer__wrapper .footer-links li a {
        font-size: 16px;
        line-height: 21px;
    }
}

@media (max-width: 425px) {
    .footer .footer__wrapper .footer-links li a {
        font-size: 14px;
        line-height: 19px;
    }
}

.footer .footer__wrapper .footer-links .footer-mid {
    justify-self: center;
}

@media (max-width: 552px) {
    .footer .footer__wrapper .footer-links .footer-mid {
        justify-self: start;
    }
}

.footer .footer__wrapper .footer-links .footer-right {
    max-width: 700px;
    justify-self: end;
}

@media (max-width: 992px) {
    .footer .footer__wrapper .footer-links .footer-right {
        grid-column: 1 / 3;
        justify-self: start;
    }
}

.footer .footer__wrapper .footer-links .footer-right h6 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #fff;
}

@media (max-width: 768px) {
    .footer .footer__wrapper .footer-links .footer-right h6 {
        font-size: 24px;
        line-height: 25px;
    }
}

.footer .footer__wrapper .footer-links .footer-right p {
    color: #7b8698;
    font-size: 18px;
    line-height: 23px;
}

@media (max-width: 768px) {
    .footer .footer__wrapper .footer-links .footer-right p {
        font-size: 16px;
        line-height: 21px;
    }
}

.footer .footer__wrapper .footer-links .footer-right .input-btn {
    display: flex;
    align-items: center;
    gap: 12px;
}

@media (max-width: 768px) {
    .footer .footer__wrapper .footer-links .footer-right .input-btn {
        flex-direction: column;
        justify-content: start;
    }
}

.footer .footer__wrapper .footer-links .footer-right .input-btn input {
    width: 400px;
    background-color: #0d0e11;
    padding: 15px 20px;
    border: none;
    font-size: 16px;
    line-height: 23px;
    color: #fff;
}

@media (max-width: 768px) {
    .footer .footer__wrapper .footer-links .footer-right .input-btn input {
        padding: 10px 15px;
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .footer .footer__wrapper .footer-links .footer-right .input-btn input {
        width: 300px;
    }
}

.footer .footer__wrapper .footer-links .footer-right .input-btn input:focus {
    border: none;
    outline: none;
}

.footer .footer__wrapper .footer-links .footer-right .input-btn .btn {
    padding: 15px 20px;
    font-size: 16px;
    line-height: 24px;
}

@media (max-width: 768px) {
    .footer .footer__wrapper .footer-links .footer-right .input-btn .btn {
        display: flex;
        justify-content: start;
    }
}

.footer .social-links {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.footer .social-links a {
    color: #fff;
    font-size: 35px;
    padding-bottom: 40px;
}

.payment-partners {
    background-color: #fff;
}

.payment-partners__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 0;
}

@media (max-width: 658px) {
    .payment-partners__wrapper {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
}

@media (max-width: 500px) {
    .payment-partners__wrapper {
        text-align: center;
    }
}

.payment-partners__wrapper p {
    align-self: center;
    margin-bottom: 0;
}

.payment-partners__wrapper .payment-icons {
    display: flex;
    gap: 50px;
    justify-self: end;
}

@media (max-width: 658px) {
    .payment-partners__wrapper .payment-icons {
        justify-self: center;
    }
}

.payment-partners__wrapper .payment-icons img {
    width: 80px;
    height: 30px;
}

.copright .copright__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
}

@media (max-width: 658px) {
    .copright .copright__wrapper {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 500px) {
    .copright .copright__wrapper {
        text-align: center;
    }
}

.copright .copright__wrapper p {
    font-size: 14px;
    line-height: 21px;
}

.copright .copright__wrapper ul {
    display: flex;
    gap: 40px;
}

@media (max-width: 500px) {
    .copright .copright__wrapper ul {
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }
}

.copright .copright__wrapper ul a {
    color: #152742;
    font-size: 14px;
    line-height: 21px;
}

.login {
    margin-top: 100px;
    height: calc(100vh-100px);
}

.login__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 992px) {
    .login__wrapper {
        justify-content: center;
    }
}

.login__wrapper .login-box__header h2 {
    font-family: Helvetica;
    font-size: 36px;
    line-height: 41px;
}

@media (max-width: 768px) {
    .login__wrapper .login-box__header h2 {
        font-size: 28px;
        line-height: 36px;
    }
}

.login__wrapper .login-box__header p {
    font-size: 20px;
    line-height: 23px;
}

@media (max-width: 768px) {
    .login__wrapper .login-box__header p {
        font-size: 16px;
        line-height: 24px;
    }
}

.login__wrapper .login-box a {
    color: #4285f4;
}

.login__wrapper .login-box .form-group {
    max-width: 433px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .login__wrapper .login-box .form-group {
        max-width: 300px;
    }
}

.login__wrapper .login-box .form-group .form-control-lg {
    border-radius: 6px;
}

.login__wrapper .login-box .form-group .form-control {
    padding: 16px 30px;
}

.login__wrapper .login-box .form-group .form-label {
    font-family: Helvetica;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    color: #152742;
}

.login__wrapper .login-box .form-group form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.login__wrapper .login-box .form-group form .checkbox {
    display: flex;
    align-items: center;
    gap: 12px;
}

.login__wrapper .login-box .form-group form input {
    accent-color: #152742 !important;
    border: none;
    outline: none;
    width: 26px;
    height: 26px;
    border-radius: 6px;
}

.login__wrapper .login-box .form-group form label,
.login__wrapper .login-box .form-group form a {
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.login__wrapper .login-box .form-group form label {
    color: #152742;
    margin-bottom: 0;
}

.login__wrapper .login-box .form-group form a {
    color: #4285f4 !important;
}

.login__wrapper .login-box .form-group .btn {
    border-radius: 6px;
}

.login__wrapper .login-box .form-group .btn-white {
    padding: 11px 0;
    width: 433px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 20px;
    color: #152742;
}

@media (max-width: 768px) {
    .login__wrapper .login-box .form-group .btn-white {
        max-width: 300px;
    }
}

.login__wrapper .login-box .form-group .btn-white img {
    width: 25px;
    height: 25px;
    margin-right: 34px;
}

.login__wrapper .login-box .form-group .btn-lg {
    color: #fff;
}

.login__wrapper .login-box span {
    color: #7b8698;
    margin-left: 135px;
    position: relative;
}

.login__wrapper .login-box span::before,
.login__wrapper .login-box span::after {
    content: "";
    width: 115px;
    height: 1px;
    background-color: #8e8b8b;
    position: absolute;
}

.login__wrapper .login-box span::before {
    left: -135px;
    top: 9px;
}

.login__wrapper .login-box span::after {
    right: -135px;
    top: 9px;
}

@media (max-width: 992px) {
    .login__wrapper svg {
        display: none;
    }
}

.contact-us {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .contact-us {
        flex-direction: column-reverse;
        margin-top: 40px;
        align-items: center;
        gap: 40px;
    }
}

@media (max-width: 1200px) {
    .contact-us__content {
        text-align: center;
    }
}

.contact-us__header h2 {
    font-size: 36px;
    line-height: 54px;
}

@media (max-width: 768px) {
    .contact-us__header h2 {
        font-size: 28px;
        line-height: 39px;
    }
}

.contact-us__header p {
    font-size: 18px;
    line-height: 29px;
    width: 334px;
}

@media (max-width: 768px) {
    .contact-us__header p {
        font-size: 16px;
        line-height: 22px;
    }
}

.contact-us__email {
    margin-top: 40px;
    border-bottom: 1px solid #152742;
    padding-bottom: 15px;
    width: 334px;
}

@media (max-width: 1200px) {
    .contact-us__email {
        width: 100%;
    }
}

.contact-us__email p {
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .contact-us__email p {
        font-size: 16px;
        line-height: 21px;
    }
}

.contact-us__email span {
    font-size: 16px;
    line-height: 23px;
}

.contact-us__info {
    margin-top: 40px;
}

.contact-us__info h6 {
    font-size: 24px;
    line-height: 29px;
}

@media (max-width: 768px) {
    .contact-us__info h6 {
        font-size: 18px;
        line-height: 25px;
    }
}

.contact-us__info p {
    font-size: 16px;
    line-height: 23px;
}

.contact-us__info span {
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    padding-bottom: 15px;
    border-bottom: 1px solid #152742;
}

.contact-us__tel {
    margin-top: 40px;
}

.contact-us__tel div {
    display: flex;
}

@media (max-width: 1200px) {
    .contact-us__tel div {
        justify-content: center;
    }
}

.contact-us__tel div p {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    margin-right: 8px;
}

.contact-us__tel div span {
    font-size: 16px;
    line-height: 21px;
}

.contact-us__form .form-group {
    width: 600px;
}

@media (max-width: 600px) {
    .contact-us__form .form-group {
        width: 400px;
    }
}

@media (max-width: 400px) {
    .contact-us__form .form-group {
        width: 300px;
    }
}

.contact-us__form .form-group .form-label {
    font-size: 16px;
    line-height: 18px;
}

.contact-us__form .form-group .form-control-lg {
    border-radius: 6px;
}

.contact-us__form .form-group .form-control {
    border-radius: 6px;
}

.contact-us__form .form-group .btn {
    border-radius: 6px;
}

.allclass{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

